<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Obama's Pizza</title>
    <link rel="stylesheet" href="bootstrap.min.css">
</head>

<body ng-controller="pizzaController">
    <div class="container">
        <h1>Tony's Pizza</h1>

        <h2>{{model.title}}</h2>
        <h3>Topping search</h3>
        <input type ="text" class="form-control" ng-model="model.search">
        
        <span></span>

        <div ng-hide="model.search">

            Enter the search criteria above
        </div>

        <div ng-show = "model.search" ng-repeat="t in newAvailableToppings = ( model.availableToppings| filter:model.search)">

            <span ng-click= "addTopping(t)">{{t}}</span>
            
        </div>

        <div ng-if ="added === true">
            <div class = "alert alert-success alert-dismissable">Topping has been added</div>
            <input type="button" value="close" ng-click="added=false">
            
        </div>

        <!--<div ng-show ="!newAvailableToppings.length">
           <div class ="alert alert-danger">No results</div>
        </div>-->
        <div class = "alert alert-danger" ng-show="model.search.length > 0 && newAvailableToppings.length === 0">No results</div>

        <div ng-show ="model.toppings">

        <h3>Selected Toppings</h3>
        <div ng-repeat ="t in model.toppings">
            {{t}}
        </div>

        </div>

    </div>

    

    <script src="angular.min.js"></script>
    <script src="./app/app.js"></script>
    <script src="./app/pizzaController.js"></script>
</body>

</html>